
<!DOCTYPE html>
<html>
<body>
  <h2>Trade Alert: <%= alert.symbol %></h2>
  <p>Alert Type: <%= alert.type %></p>
  <p>Price: $<%= alert.price %></p>
  <p>Message: <%= alert.message %></p>
  <p>Time: <%= new Date().toLocaleString() %></p>
</body>
</html>
